accelerate==1.5.2
datasets==3.5.0
huggingface-hub==0.29.3
marimo==0.11.31
polars==1.26.0
tokenizers==0.21.1
torch==2.6.0
torchaudio==2.6.0
torchvision==0.21.0
transformers==4.49.0
sentencepiece==0.2.0
protobuf==6.30.2
peft==0.15.0
simple-parsing==0.1.7
bitsandbytes==0.45.4
tqdm==4.67.1
